<p>uppercasepipe works!</p>
<table >
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Title</th>
    <th>Salary</th>
    <th>Department</th>
    <th>Address</th>
    <th>DOB</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let frd of friends">
    <td>{{frd.id}}</td>
    <td>{{frd.name|uppercase}}</td>
    <td>{{frd.gender|uppercase}}</td>
    <td>{{frd.title|uppercase}}</td>
    <td>{{frd.salary}}</td>
    <td [ngSwitch]="frd.department">
      <span *ngSwitchCase="1">HR</span>
      <span *ngSwitchCase="2">IT</span>
      <span *ngSwitchCase="3">Hacker</span>
      <span *ngSwitchCase="4">LoverBoy</span>
      <span *ngSwitchDefault>Pta Nhi Kaun Hai</span>
    </td>
    <td>{{frd.address|uppercase}}</td>
    <td>{{frd.dob}}</td>
  </tr>
  </tbody>

</table>
