<html>
<head>
  <title>Employee Data</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>Employee Id</th>
    <th>Employee Name</th>
    <th>Employee Gender</th>
    <th>Employee Title</th>
    <th>Employee Salary</th>
    <th>Employee Department</th>
    <th>Employee Address</th>
    <th>Employee DOB</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of Employee;trackBy:trackByEmpCode;let i =index;">
    <td>{{emp.empid}}</td>
    <td>{{emp.empname}}</td>
    <td>{{emp.gender}}</td>
    <td>{{emp.title}}</td>
    <td>{{emp.salary}}</td>
    <td [ngSwitch]="emp.department">
      <span *ngSwitchCase="1">HR</span>
      <span *ngSwitchCase="2">IT </span>
      <span *ngSwitchCase="3">Lover</span>
      <span *ngSwitchCase="4">Heart</span>
      <span *ngSwitchDefault>Other</span>
    </td>
    <td>{{emp.address}}</td>
    <td>{{emp.dob}}</td>

  </tr>
  </tbody>
</table>
  <button (click)="getLatestData()">Get latest Data</button>
</body>
</html>
