table{
  border-collapse: collapse;
  font-size: large;
  color: blue;
  font-family: "Times New Roman", serif;
}
th{
  color: red;
  padding: 5px;
  border: 1px solid blue;
}
td{
  color: blue;
  padding: 5px;
  border: 1px solid blue;
}
